{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

    <h1 class="typo_jouer_espace" style="text-align: center">Bienvenue sur Liste</h1>

    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Faire du saut en parachute
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Faire le tour du monde
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Avoir un Maikun
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Trouver autre chose
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Trouver autre chose
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Trouver autre chose
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Trouver autre chose
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
    </ol>

{% endblock %}
