body {
    background-color: #F29F05;
}
.position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.typo_jouer_espace {
    color: black;
    text-align: center;
    padding-bottom: 4px;
    animation: blinker 1s linear infinite;
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.bg-custom{
    color: #0D0D0D;
}


/* Color Theme Swatches in Hex */
.Illustration-1-hex { color: #F2E638; }
.Illustration-2-hex { color: #F29F05; }
.Illustration-3-hex { color: #F28705; }
.Illustration-4-hex { color: #D9A76A; }
.Illustration-5-hex { background-color: #0D0D0D; }


.card-custom {
    max-width: 60%;
    margin: auto;
}
.btn-details:hover {
    background-color: white;
    color: #ffc107;
    border-color: white;
    color: black;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
}

.rounded-image img {
    width: 400px; /* Ajustez la taille selon vos besoins */
    height: 400px; /* Ajustez la taille selon vos besoins */
    object-fit: cover;
    transition: all 0.3s ease; /* Transition pour le fondu */
}

.rounded-image img:hover {
    transform: scale(1.2); /* Zoom au survol */
}

.fleur{
    align-items: center;
}


.forms-errors ul{
    color: red;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.9em;
}

.navbar .nav-link{
color: white;
}

.navbar .nav-link:hover {
    color: #F29F05;
}

.white-icon-toggler .navbar-toggler-icon {
    color: white;
    transform: perspective(100px) rotateX(45deg);
}

.white-icon-toggler .navbar-toggler-icon:hover{
    rotate: 90deg;
    transition: 0.7s;
}
